<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.transfer.data.mapper.AccountMapper">



    <resultMap id="myUserResultMap"  type="com.example.transfer.data.mapper.TradeResult">
        <result column="point" property="point"/>
        <result column="afterPoint" property="afterPoint"/>
    </resultMap>

    <update id="out2" >
        UPDATE account SET point = @afterPoint := (@point:=point)-#{point}
        where id = #{id} and (@point:=@afterPoint:=point)>=#{point};

    </update>

    <select id="out" resultMap="myUserResultMap">
        select @point as point, @afterPoint as afterPoint;
    </select>

    <update id="in2" >
        UPDATE account SET point = @afterPoint := (@point:=point)+#{point}
        where id = #{id}
    </update>

</mapper>